<footer class="footer">
    <div class="content-wide ">
        <div class="content-wide__column ">
            <img src="{{ base_url() }}/img/logo-head.svg" style="display: block; margin-left:auto; margin-right: auto; width: 180px;" alt="Futurezone Logo">
            <div class="footer__column-wide ">
                <div class="small-print">
                    <div class="small-print__summary"></div>
                    <div class="small-print__summary"></div>
                    <ul class="small-print__list">
                        <li class="small-print__list__item">
                            <a href="{{ base_url() }}/kontakt/" class="small-print__list__item__link" data-tracking="footer - info - level 1 | 1">Kontakt</a>
                        </li>
                        <li class="small-print__list__item">
                            <a href="{{ base_url() }}/impressum/" class="small-print__list__item__link" data-tracking="footer - info - level 1 | 2">Impressum</a>
                        </li>
                        <li class="small-print__list__item">
                            <a href="{{ base_url() }}/datenschutz/" class="small-print__list__item__link" data-tracking="footer - info - level 1 | 3">Datenschutz</a>
                        </li>
                        <li class="small-print__list__item">
                            <a href="{{ base_url() }}/?config=rss_hd" class="small-print__list__item__link" data-tracking="footer - info - level 1 | 4">RSS</a>
                        </li>
                    </ul>
                    <small class="small-print__copy"></small>
                </div>
            </div>
        </div>
    </div>
    <div class="cookie-note cookie-note--bottom cookie-note--dark hidden">
        <div class="cookie-note--wrapper">
            <div class="cookie-note__button">OK</div>
            <p class="cookie-note__text">
                Durch Nutzung dieser Website stimmen Sie der Verwendung von Cookies für Analysen,
                personalisierte Inhalte und Werbung zu. Weitere Informationen über Cookies finden Sie in
                unserer&nbsp;<a href="{{ base_url() }}/datenschutz/">Datenschutzerklärung</a>
            </p>
        </div>
    </div>
</footer>