
<!DOCTYPE html>
<html>
  <head>

    <title>futurezone.de - Technology News aus Digital Life, Gadgets, Netzpolitik, Start-Ups, Science und mehr - Futurezone.de</title>
    <meta name="description" content="Aktuelle Nachrichten aus den Bereichen Technologie, Netzpolitik, Digital Life, Gadgets, StartUps, Science und Games"/>
    <meta name="keywords" content="futurezone,startups,games,technology,digital,it,smartphone,social media,science,gadgets"/>
    <script>
      var metaDataKeywords = "futurezone,startups,games,technology,digital,it,smartphone,social media,science,gadgets";
    </script>
    <meta name="author" content="futurezone.de"/>
    <meta name="location" content="futurezone.de"/>
    <meta name="robots" content="index,follow"/>
    <meta charset="UTF-8">
    <link rel="canonical" href="{{ base_url() }}" />
        <!-- service= -->

    <link rel="alternate" media="only screen and (max-width: 640px)" href="{{ base_url() }}" />
    <script>
      var isLinkRelRendered = false;
    </script>
    <link rel="stylesheet" href="{{ base_url() }}/css/styles.min.css" type="text/css" />


    <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="{{ base_url() }}/js/plugins.min.js"></script>
    <script src="{{ base_url() }}/js/main.min.js"></script>

    <meta name="news_keywords" content="futurezone,startups,games,technology,digital,it,smartphone,social media,science,gadgets,smarthome,smartcity,mobility,space"/>
    <meta name="viewport" content="width=device-width, user-scalable=yes"/>
    <link rel="shortcut icon" type="image/x-icon" href="/resources/img/meta-icons/favicon.ico">
    <link rel="apple-touch-icon" href="{{ base_url() }}/img/meta-icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" href="{{ base_url() }}/img/meta-icons/apple-touch-icon-180x180.png" sizes="180x180">
    <link rel="apple-touch-icon" href="{{ base_url() }}/img/meta-icons/apple-touch-icon-precomposed.png">
    <link rel="icon" type="image/png" href="{{ base_url() }}/img/meta-icons/favicon-196x196.png" sizes="196x196">
    <meta name="msapplication-TileImage" content="{{ base_url() }}/img/meta-icons/win8-tile-144x144.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-navbutton-color" content="#ffffff">
    <meta name="msapplication-square70x70logo" content="{{ base_url() }}/img/meta-icons/win8-tile-70x70.png">
    <meta name="msapplication-square144x144logo" content="{{ base_url() }}/img/meta-icons/win8-tile-144x144.png">
    <meta name="msapplication-square150x150logo" content="{{ base_url() }}/img/meta-icons/win8-tile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="{{ base_url() }}/img/meta-icons/win8-tile-310x150.png">
    <meta name="msapplication-square310x310logo" content="{{ base_url() }}/img/meta-icons/win8-tile-310x310.png">
    <meta property="og:title" content="futurezone.de - Technology News aus Digital Life, Gadgets, Netzpolitik, Start-Ups, Science und mehr -"/>
    <meta property="og:image" content="/resources/imgmeta-icons/facebook-og-image.png"/>
    <meta property="og:image:width" content="504"/>
    <meta property="og:image:height" content="336"/>
    <meta property="og:description" content="Aktuelle Nachrichten aus den Bereichen Technologie, Netzpolitik, Digital Life, Gadgets, StartUps, Science und Games"/>
    <meta property="og:url" content="{{ base_url() }}"/>
    <meta property="fb:app_id" content="142355443017343"/>
    <meta property="fb:pages" content="1015222118622731"/>
    <meta property="article:author" content="https://www.facebook.com/futurezone.funke/"/>
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="de_DE"/>
    <meta name="apple-itunes-app" content="app-id=1290194558"/>
    <meta name="google-play-app" content="app-id= de.funkedigital.futurezone"/>
    <meta name="google-site-verification" content="t1IiaL2lkylKsn5ad1AQ1bIHytvaemlk-PlQAMipvdA" />
    <meta name="google-site-verification" content="VNvIkxrFRcvfIbSF18hsSanLB-V8DFfuj6g5UPF4Ae4" />
    <script type="text/javascript" src="//static.apester.com/js/sdk/v2.0/apester-javascript-sdk.min.js" async></script>
    <link rel="alternate" hreflang="de-DE" href="//futurezone.de/" />
    <link rel="alternate" hreflang="de-AT" href="//futurezone.at/" />
    <script type="application/ld+json">
      {
        "@context" : "http://schema.org",
        "@type" : "WebPage",
        "url" : "https://www.futurezone.de/",
        "publisher" : {
           "@type":"Organization",
            "name":"futurezone.de",
            "logo":{
                "@type":"ImageObject",
                "url":"https:\/\/www.futurezone.de\/resources\/1531227041\/img\/logo-head.png"
            }
          }
        }
      }
    </script>
  </head>

  <body role="document" class="pub-fuzo">
    {% block navigation_mobile %}

    {% endblock %}

    <div class="page theme-default">

      {% block navigation %}

      {% endblock %}

      <main class="main" role="main">
        <div class="inline-overlay desktop-hide" id="inline-overlay"></div>
        <div class="container-main clearfix">
          {% block content %}

          {% endblock %}
        </div>
      </main>
    </div>
  </body>
</html>
